<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="tab_icon.png">
    <title>Not Found</title>
</head>
<body>
    <div class="lost_container">
        <div class="new_container">
            <img src="tab_icon.png" alt="">
            <h1>Oops, You are lost!</h1>
            <span>Error 404 - Page Not Found</span>
        </div>
    </div>
</body>
</html>