<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="tab_icon.png">
    <title>Login</title>
</head>
<body>
    <section>
        <div class="image_box">
            <img src="login_wallpaper.jpg" alt="">
        </div>
        <div class="content_box">
            <form>
                <h1 class="heading_login">Login</h1>
                <div class="login_container">
                    <label for="login">Login</label><br>
                    <input type="text" name="login" id="login" placeholder="Type in your login" required>
                </div>
                <div class="pass_container">
                    <label for="pass">Password</label><br>
                    <input type="password" name="password" id="pass" placeholder="Type in your password" required><br>
                    <a href="/remind" class="forgot_pass">Forgot your password?</a>
                </div>
                <div class="signin_container">
                    <button class="button_form signin_btn" type="submit">SIGN IN</button>
                </div>
                <div class="create_account">
                    <span>Dont't have an account yet?</span>
                    <a href="/signup">Sign up</a>
                </div>
            </form>
        </div>
    </section>
    <script src="login.js"></script>
</body>
</html>